

nav {
    display: inline-block;
    width: 80%;
}

nav img {

    display: inline;
    width: 10%;
}

/* a {
    text-decoration: none;

} */

/* a.navegation {

    display: inline;
    color: white;
    line-height: 200%;
    padding: 0 100px 0 0;
} */


p {
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    line-height: 150%;
}

main{
    background-color: yellow;
}
/* li {

    display: block;
} */

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: large;
}


header {
    background-color:lightgray; ;
}

main {
    font-size: large;
}

footer {
    background-color: lightgray;
}
 

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial, sans-serif';
    color: brown;
}

/* .current {
    text-transform: uppercase;
    background-color: red;
    line-height: 200%;
    padding: 0 100px 0 0;} */
/* a[href*='e'] {
    background-color: red;
} */

.grid {
    display: grid;
    margin-top: 5%;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    row-gap: 1%;
}

.grid  img{
    width: 100%;
}

.flex {
    display: flex;
}

div.flex{
    margin-top: 5%;
    flex-wrap: wrap;
}
div.flex img {
    margin: 2% 2% 2% 2%;
    f
}

ul img{
    margin-left: 1%;
}

li {
    list-style-type: none;
    margin-left: 5%;
}